<div class="grid-container">
  {{#each products}}
    {{#if status}}
      <div class="product-card">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Code: {{code}}</p>
        <p>Price: {{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Category: {{category}}</p>
      </div>
    {{/if}}
  {{/each}}
</div>